<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>小程序demo</title>
        <script src="./template.js"></script>
        <script src="./event.js"></script>
        <script src="./main.js"></script>
    </head>
    <body>
        <!-- web Worker + templatejs -->
        <div id="app"></div>
        <!-- <div id="templatelist">我的哈哈</div> -->

        <!-- <script type="text/html" id="template1">
            <ul>
                <% for(var i = 0; i < list.length; i++){ %>
                <li>
                    <p><%= list[i].name %></p>
                    <p><%= list[i].sex %></p>
                </li>
                <% } %>
            </ul>
        </script> -->

        <!-- <script>
            var data = [
                { name: "张三", sex: "女" },
                { name: "李四", sex: "男" },
                { name: "王五", sex: "女" },
            ];

            // 模板渲染
            var template1 = document.getElementById("template1").innerHTML;
            document.getElementById("templatelist").innerHTML = template(
                template1,
                { list: data }
            );
        </script> -->
    </body>
</html>
