# 详情可参考：https://docs.github.com/cn/github/using-git/ignoring-files

# dependencies 依赖
node_modules

# testing 测试

# production 生产
build
dist

# misc 杂项
*.code-workspace
.vscode
*下载资料
package-lock.json
yarn.lock

# log 日志
*.log*

# other
/other 
/npm_project
