<!DOCTYPE html>
<html lang="en">
    <head>
        <title>表单输入</title>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <form>
                <!-- 文本 -->
                <input v-model="message" placeholder="input something">
                <p>Message is: {{ message }}</p>
                
                <!-- 多行文本 --><hr/>
                <span>Multiline message is: </span>
                <p style="white-space: pre-line;">{{ message2 }}</p>
                <br/>
                <textarea v-model="message2" placeholder="multiple lines"></textarea>

                <!-- 复选框 --><hr/>
                <p>单个复选框，绑定到布尔值：</p>
                <input type="checkbox" id="checkbox" v-model="checked">
                <label for="checkbox">{{ checked }}</label>

                <p>多个复选框，绑定到同一个数组：</p>
                <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                <label for="jack">Jack</label>
                <input type="checkbox" id="john" value="John" v-model="checkedNames">
                <label for="john">John</label>
                <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                <label for="mike">Mike</label>
                <br>
                <span>Checked names: {{ checkedNames }}</span>

                <!-- 单选按钮 --><hr/>
                <input type="radio" id="one" value="One" v-model="picked">
                <label for="one">One</label>
                <br>
                <input type="radio" id="two" value="Two" v-model="picked">
                <label for="two">Two</label>
                <br>
                <span>Picked: {{ picked }}</span>

                <!-- 选择框 --><hr/>
                <p>单选：</p>
                <select v-model="selected">
                    <option disabled value="">请选择</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>Selected: {{ selected }}</span>

                <p>多选：</p>
                <select v-model="selected2" multiple style="width: 50px;">
                    <option disabled value="">请选择</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>Selected: {{ selected2 }}</span>

                <p>用 `v-for` 渲染的动态选项：</p>
                <select v-model="selected3" multiple style="width: 50px;">
                    <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
                <span>Selected: {{ selected3 }}</span>
            </form>
        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    message: '',
                    message2: '',
                    checked: false,
                    checkedNames: [],
                    picked: '',
                    selected: '',
                    selected2: [],
                    selected3: [],
                    options: [
                        { value: 'A', text: 'One' },
                        { value: 'B', text: 'Two' },
                        { value: 'C', text: 'Three' }
                    ]
                }
            });
        </script>
    </body>
</html>
